module.exports = {
	server: '',
	nick: '',
	password: '',
	userName: '',
	realName: '',
	debug: false,
	stripColors: true,
	sendErrors: '',
	channels: [],
	modules: [
		{
			name: 'userAuth',
			config: {
				password: '',
				timeout: 4 * 60 * 60 * 1000
			}
		},
		{
			name: 'command'
		},
		{
			name: 'karma',
			config: {
				store: true,
				explainReasons: 3
			}
		},
		{
			name: 'seen',
			config: {
				store: true
			}
		},
		{
			name: 'later',
			config: {
				store: true
			}
		},
		{
			name: 'twitter',
			config: {
				store: false,
				consumer_key: '',
				consumer_secret: '',
				access_token_key: '',
				access_token_secret: ''
			}
		},
		{
			name: 'youtube',
			config: {
				store: false
			}
		}
	]
};